
.well{
	background: #f8f8f8;
	.tab-title{
		float:left;
		margin-left: 10px;
	}
	.button-top-right{
		float:right;
		margin: 0 10px 20px 0;
	}
}

.sortable-ghost {
	opacity: 0.4;
}

button{
	.glyphicon{
		margin-right: 8px;
	}
}

/*textarea {
	resize: none;
}*/

#login{
	height:100vh;
	h6{
		margin-bottom: 20px;
	}
	label{
		color:#808080;
		font-size: 13px;
		font-weight: normal;
		line-height: 18px;
		margin-left: 2px;
		text-shadow: -1px 1px 0 #fff;
	}
	form{
		width:320px;
		margin:auto;
		position: relative;
		top: 45%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.controls{
		margin-top: 20px;
	}
	.button-rememember-me{
		width: 150px;
		float:left;
	}
	.button-sign-in{
		float:right;
		width: 120px;
	}
}

#global-nav{
	.navbar-nav>li>a{
		padding: 0;
	}
	button{
		margin-top:8px;
		.glyphicon{
			top:2px;
		}
	}
}

#projects{
	padding:0;
	margin-top: 80px;
	width:80%;
/* this is copy & pasted from #tab-links, #tab-recognition styling */
	.project{
		width: 100%;
		padding: 10px 0 10px 0;
		margin: auto;
		margin-bottom: 4px;
		display: table;
		background: #fff;
		.project-handle{
			padding-top:0;
			width: 50px;
			height:100%;
			text-align:center;
			display: table-cell;
		}
		.project-name{
			width:30%;
			padding-right: 2px;
		}
		.project-year{
			width: auto;
			padding-left: 2px;
		}
		.project-name, .project-year {
			display: table-cell;
			input{
				width:100%;
			}
 		}
		.project-actions{
			width:97px;
			display: table-cell;
			button{
				margin-top: -2px;
			}
			padding-left:4px;
		}
		.form-control{
			display: table-cell;
		}
		.glyphicon{
			margin: 0;
		}
	}
}

/* 
	project editor 
*/

.editor-nav{
	margin-top:80px;
	margin-bottom: 16px;
}

#tab-overview{
	label{
		margin-left: 4px;
	}
	textarea{
		resize: vertical;
	}
	#project-title{
		width:60%;
		float:left;
	}
	#project-year, #project-type{
		width:19%;
		float:left;
		margin-left: 1%;
	}
	#project-summary{
		clear:both;
	}
	#button-save-project{
		width:80px;
		float:right;
	}
}

#tab-cover{
	width:600px;
	margin: auto;
	padding: 10px;
	margin-top: 20px;
	border-style:solid;
	border-color:#ccc;
	border-width: 1px;
	.well{
		margin-bottom: 10px;
	}
	#image{
		.media-input{
			width:425px;
			margin-right: 8px;
		}
	}
}

#tab-heroes, #tab-thumbs{
	.media{
		width:33%;
		img{
			height:240px;
		}
	}
	.media:nth-child(3n+3){
		margin-right:0;
	}
}

/*#tab-thumbs{
	$margin-size:6px;
	.media{
		width:19.6%;
		img{
			height:140px;
		}
	}
	.media:nth-child(5n+5){
		margin-right: 0;
	}
}*/

#tab-heroes, #tab-thumbs{
	.media{
		float:left;
		padding:4px;
		background:white;
		margin-top:0;
		margin-right:.5%;
		margin-bottom:.5%;
		border-style:solid;
		border-color:#ccc;
		border-width: 1px;
		position:relative;
		img{
			width:100%;
			background:#333;
		}
		.delete{
			border-style:solid;
			border-color:#ccc;
			border-width: 1px;
			background: white;
			margin: 4px;
			position: absolute;
			top: 0; right: 0;
			.glyphicon{
				margin: 6px 8px 8px 8px;
			}
		}
	}
}

#tab-links, #tab-recognition{
	.link{
		width: 100%;
		padding: 10px 0 10px 0;
		margin: auto;
		margin-bottom: 4px;
		display: table;
		background: #fff;
		.link-handle{
			padding-top:0;
			width: 50px;
			height:100%;
			text-align:center;
			display: table-cell;
		}
		.link-label{
			width:30%;
			padding-right: 2px;
		}
		.link-href{
			width: auto;
			padding-left: 2px;
		}
		.link-label, .link-href {
			display: table-cell;
			input{
				width:100%;
			}
 		}
		.link-action{
			width:97px;
			display: table-cell;
			button{
				margin-top: -2px;
			}
			padding-left:4px;
		}
		.form-control{
			display: table-cell;
		}
		.glyphicon{
			margin: 0;
		}
	}
}

/*
	modal windows
*/

.image-uploader{
	.well{
		padding: 4px;
	}
	.modal-dialog{
		width:600px;
	}
	img, iframe{
		border: 0;
		margin: 0 auto;
		display: block;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
	img{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	iframe{
		display:none;
		width:100%;
		height:100%;
	}
	#caption{
		input{
			width:472px;
		}
		label{
			text-align: center;
			width:90px;
			margin-bottom:0;
			margin-right:2px;
		}
		margin-bottom:4px;
	}
	select{
		width:90px;
		float:left;
		margin-right: 6px;
		text-indent: 16px;
	}
	#image{
		.media-input{
			width:320px;
		}
	}
	#video{
		.media-input{
			width:396px;
		}
		display: none;
	}
	.media-input{
		float:left;
		margin-right: 4px;
	}
	.media-preview{
		height: 320px;
		max-height: 320px;
	}
	.btn{
		width: 70px;
		margin: 0;
	}
	.modal-footer .btn+.btn{
		margin-left: 2px;
	}
	.thumb-generator{
		width:0;
		height:0;
		position: absolute;
		z-index:9999;
		border: 1px dashed #ff0000;
	}
}

.add-link{
	.modal-dialog{
		max-width: 600px;
	}
	#modal-link-label{
		margin-bottom: 10px;
	}
}

