
.well{
	background: #f8f8f8;
	.tab-title{
		float:left;
		margin-left: 10px;
	}
	.button-top-right{
		float:right;
		margin: 0 10px 20px 0;
	}
}

.sortable-ghost {
	opacity: 0.4;
}

button{
	.glyphicon{
		margin-right: 8px;
	}
}

/*textarea {
	resize: none;
}*/



#tab-heroes, #tab-thumbs{
	.media{
		width:33%;
		img{
			height:240px;
		}
	}
	.media:nth-child(3n+3){
		margin-right:0;
	}
}

/*#tab-thumbs{
	$margin-size:6px;
	.media{
		width:19.6%;
		img{
			height:140px;
		}
	}
	.media:nth-child(5n+5){
		margin-right: 0;
	}
}*/

#tab-heroes, #tab-thumbs{
	.media{
		float:left;
		padding:4px;
		background:white;
		margin-top:0;
		margin-right:.5%;
		margin-bottom:.5%;
		border-style:solid;
		border-color:#ccc;
		border-width: 1px;
		position:relative;
		img{
			width:100%;
			background:#333;
		}
		.delete{
			border-style:solid;
			border-color:#ccc;
			border-width: 1px;
			background: white;
			margin: 4px;
			position: absolute;
			top: 0; right: 0;
			.glyphicon{
				margin: 6px 8px 8px 8px;
			}
		}
	}
}
/*
	modal windows
*/

.image-uploader{
	.well{
		padding: 4px;
		margin-bottom: 0px;
	}
	.modal-body{
		padding-bottom: 10px;
	}
	.modal-dialog{
		width:600px;
	}
	img, iframe{
		border: 0;
		margin: 0 auto;
		display: block;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
	img{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	iframe{
		display:none;
		width:100%;
		height:100%;
	}
	.thumb-settings{
		text-align: left;
		label{
			margin-right: 5px;
			margin-left: 5px;
		}
		.ts{
			margin-left: 4px;
			margin-right: 5px;
		}
		input{
			width: 60px;
		}
		.s1{
			width:100px;
		}
		.s2{
			width:79px;
		}
		margin-bottom:6px;
	}
	.media-settings{
		select{
			width:90px;
			float:left;
			margin-right: 6px;
			text-indent: 16px;
		}
	}
/*	#caption{
		input{
			width:472px;
		}
		label{
			text-align: center;
			width:90px;
			margin-bottom:0;
			margin-right:2px;
		}
		margin-bottom:4px;
	}*/
	#image{
		.media-input{
			width:320px;
		}
	}
	#video{
		.media-input{
			width:396px;
		}
		display: none;
	}
	.media-input{
		float:left;
		margin-right: 4px;
	}
	.media-preview{
		height: 320px;
		max-height: 320px;
	}
	.btn{
		width: 70px;
		margin: 0;
	}
	.modal-footer .btn+.btn{
		margin-left: 2px;
	}
	.thumb-generator{
		width:0;
		height:0;
		position: absolute;
		z-index:9999;
		border: 1px dashed #000000;
	}
	.progress{
		margin: 10px 0 0 0;
		border-radius: 0;
	}
}


