
/*
	modal push
*/

.modal-push, .modal-pop{
	.modal-dialog{
		width:610px;
	}
	.modal-body{
		padding-bottom: 10px;
		.well{
			padding: 4px;
			margin-bottom: 0px;
			background: #f8f8f8;
			box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		}
		img, iframe{
			border: 0;
			margin: 0 auto;
			display: block;
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
		img{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
		iframe{
			display:none;
			width:100%;
			height:100%;
		}
		.media-preview{
			height: 320px;
			max-height: 320px;
			.thumb-generator{
				width:0;
				height:0;
				position: absolute;
				z-index:9999;
				border: 1px dashed #000000;
			}
		}
		.progress{
			margin: 10px 0 0 0;
			border-radius: 0;
		}
	}
	.modal-footer{
		.thumb-settings{
			text-align: left;
			label{
				margin-right: 5px;
				margin-left: 5px;
			}
			.ts{
				margin-left: 4px;
				margin-right: 5px;
			}
			input{
				width: 60px;
			}
			.s1{
				width:105px;
			}
			.s2{
				width:84px;
			}
			margin-bottom:6px;
		}
		.media-settings{
			select{
				width:90px;
				float:left;
				margin-right: 6px;
				text-indent: 15px;
			}
		}
		#image{
			.media-input{
				width:330px;
			}
		}
		#video{
			.media-input{
				width:406px;
			}
			display: none;
		}
		.media-input{
			float:left;
			margin-right: 4px;
		}
		.btn{
			width: 70px;
			margin: 0 0 0 2px;
		}
	}
}


