
extends layout

block content
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href='/admin/projects') pushpop.js
			ul.nav.navbar-nav.navbar-right
				li
					.btn.btn-default.open-modal-push Push Media
				li
					.btn.btn-default Source
				li
					#donate-btn.btn.btn-default Donate
	#gallery.container
		#grid(data-columns)
			- for (var i=0; i<project.media.length; i++) {
				.wrap
					.item(data-pname=project.name, data-media=project.media[i], style='display:none')
						img
			- }
		#footer
	include modal-donate
	include modal-push
	include modal-pop