
extends layout

block content
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href='/') pushpop.js
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn
						a(href='https://github.com/braitsch/pushpop.js').btn.btn-default Documentation
				li
					.navbar-btn
						a(href='https://github.com/braitsch/pushpop.js').btn.btn-default Source
				li
					.navbar-btn
						#donate-btn.btn.btn-default Donate
				li
					.navbar-btn
						a(href='http://braitsch.io').btn.btn-default 
							| &copy; braitsch

	.container
		.masthead
			h3 <a href='https://github.com/braitsch/pushpop.js'>pushpop.js</a> is a lightweight media manager and thumbnail generator for <a href='https://nodejs.org'>Node.js</a>
			p It is two parts: a web based <a href='#'class='open-modal-push'>image uploader and crop tool</a> and a server side <a href='#'class='open-modal-push'>npm module</a> that can connect to variety of database and cloud storage solutions.<br>You can delete any image after it has uploaded by selecting it once it appears on this page. All files uploaded using this demo are <b>automatically deleted after three minutes</b>.
			.btn.btn-success.open-modal-push Click Me !

		#grid(data-columns)
			- for (var i=0; i<project.media.length; i++) {
				.wrap
					.item(data-pname=project.name, data-media=project.media[i], style='display:none')
						img
			- }
		.footer
	include modal-push
	include modal-pop
	include modal-donate