
extends layout

block content
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href='/admin/projects') pushpop.js
			ul.nav.navbar-nav.navbar-right
				li
					.btn.btn-default Source
				li
					#donate-btn.btn.btn-default Donate
	#gallery.container
		.nav
			.dropdown
				.btn.btn-default(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle Select Project
					<span class="caret"></span>
				ul.dropdown-menu
					li
						a(href='/project/one') one
					li
						a(href='/project/two') two
					li
						a(href='/project/three') three
			.btn.btn-default.open-modal-push Push Media
		#grid(data-columns)
			- for (var i=0; i<project.media.length; i++) {
				.wrap
					- var media = project.media[i];
						.item(data-type=media.type)
							- if (media.type == 'image'){
								- var url = media.host + '/' + project.name + '/' + media.name + '_thumb' + media.ext;
									img(src=url style='display:none')
							- }	else if (media.type == 'video'){
									img(src=media.preview data-url=media.url style='display:none')
							- }
			- }
		#footer
	include modal-donate
	include modal-push
	include modal-pop