
extends layout

block content
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href='/admin/projects') Gallery
			ul.nav.navbar-nav.navbar-right
				li
					#donate-btn.btn.btn-default Donate
				li
					.btn.btn-default.show-modal Add Media
	.container
		#grid(data-columns)
			- for (var i=0; i<files.length; i++) {
				.wrap
					.item
						img(src=cdn+'/'+files[i].name style='display:none')
			- }
		#footer
	include modal-upload