doctype html
html
	head
		title braitsch.io – media uploader
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/cms.css')
	body
		block content
		script(src='/javascripts/jquery-2.1.4.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/jquery.form.min.js')
		script(src='/javascripts/cms.js')
		block scripts