doctype html
html
	head
		title pushpop.js
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/gallery.css')
		link(rel='stylesheet', href='/css/pushpop.css')
	body
		block content
		script(src='/vendor/jquery-2.1.4.min.js')
		script(src='/vendor/bootstrap.min.js')
		script(src='/vendor/jquery.form.min.js')
		script(src='/vendor/salvattore.min.js')
		script(src='/javascripts/gallery.js')
		script(src='/javascripts/pushpop.js')
		script(src='https://checkout.stripe.com/checkout.js')
		script(src='/javascripts/stripe.js')
		block scripts