
.modal.fade.modal-donate
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title Donate
			.modal-body
				.well
					| Thanks for using <b>pushpop.js!</b><br><br>If <b>pushpop.js</b> is helping you out you can make a small donation here to say thanks.<br><br>Your donation is greatly appreciated and helps support <a href='https://github.com/braitsch' target='_blank'>all of my open source projects</a>.<br><br>
					label.radio-inline
						input(type='radio' name="donationRadios" value="100")
						| $1
					label.radio-inline
						input(type='radio' name="donationRadios" value="500" checked='checked')
						| $5
					label.radio-inline
						input(type='radio' name="donationRadios" value="1000")
						| $10
					label.radio-inline
						input(type='radio' name="donationRadios" value="2500")
						| $25
					label.radio-inline
						input(type='radio' name="donationRadios" value="5000")
						| $50
					.thanks
						| Thanks!
			.modal-footer
					button(type='button', data-dismiss='modal', aria-label='Close').btn.btn-default Cancel
					button(type="button").btn.btn-primary.btn-donate Donate