doctype html
html
	head
		title pushpop.js
		meta(charset="utf-8")
		meta(name="robots" content="index,follow")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="description" content="pushpop.js is a lightweight media manager and thumbnail generator for Node.js")
		link(rel='stylesheet', href='/pushpop.css')
	body
		p empty demo (pug template)
		script(src='/pushpop.css.js')